@import './variables';

:root {
	--primary-color: #c9a96e;
	--second-color: #2c3e50;
	--text-color: #171717;
	--sub-text-color: #666666;
	--white-color: #fff;
	--black-color: #000;
	--super-sub-text-color: #666666;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
.header-wrapper {
	margin: 0 auto;
}

.container {
	max-width: $container-width;
	margin: 0 auto;
}

.section-main {
	display: flex;
}

body {
	font-family: 'PT Serif', serif;
	font-size: 1.6rem;
}
