$primary-color: #c9a96e;
$second-color: #2c3e50;
$text-color: #171717;
$sub-text-color: #666666;
$white-color: #fff;
$black-color: #000;
$super-sub-text-color: #666666;

$container-width: 1170px;
$header-width: 1880px;
