:root {
    --white-color : #fff;
    --black-color : #000;
    --primary-color : #C9A96E;
    --text-color : #171717; 
    --sub-text-color: #666666;
    --second-color : #2c3e50; 
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    /* scroll-padding-top: 104px; */
}
.container-nav {
    max-width: 1880px;
    margin: 0 auto;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

body {
    font-family: 'PT Serif', serif;
    font-size: 1.6rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
