@media (max-width: 992px){
    .ip-col-1 {
        width: 100%;
    }
    .ip-col-2{
        width: calc( 100% / 2 );
    }
    .ip-mt-48 {
        margin-top: 4.8rem !important;
    }
    #header{
        padding: 0.8rem 1.6rem;
    }
    .menu-moblie {
        display: block;
        font-size: 1.3rem;
        padding: 1.3rem;
        margin-top: 0.6rem;
    }
    #header .logo {
        font-size: 2rem;
    }
    #header .nav li a {
        width: 100%;
        height: 56px;
        line-height: 24px;
        display: block;
    }
    #header .nav {
        display: none;
        transition: all ease-in 0.3s;
        float: none;
        background: var(--second-color);
        position: absolute;
        top: 100%;
        left: 0;
        padding: 1.6rem 2.4rem;
        right: 0;
    }
    #banner {
        padding: 17rem 0 9.6rem;
    }
   .container {
        width: 720px;
    }
    #header .nav li {
        display: block;
    }
    #header .nav.active{
        transition: all ease-in 0.3s;
        display: block;
    }
    #header .nav li a {
        width: 100%;
        display: block;
    }
    #banner .banner-title {
        font-size: 4.4rem;
    }
    #banner .banner-text {
        font-size: 2rem;
    }
    #content .content-title {
        font-size: 3.6rem;
    }
    .about-list .about-item{
        clear: both;
    }
    .about-list .about-item p{
        max-width: 100%;
    }
}
@media (max-width:768px){
    .container {
        width: 540px;
    }
    .mt-col-1 {
        width: 100%;
    }
    .mb-mt-48{
        margin-top: 4.8rem;
    }
    .portfolio-list .portfolio-item img {
        max-width: 40rem;
    }
    .form-contact .col-one:nth-child(4){
        height: 19rem;
    }
    #banner .banner-title {
        font-size: 3.4rem;
    }
}
@media (max-width: 336px){
    #header .logo {
        font-size: 1.8rem;
        text-align: center;
    }
    .menu-moblie {
        margin-top: -5px;
    }
    #header .container {
        text-align: center;
    }
    .about-list .about-item p {
        font-size: 1.4rem;
    }
}