:root {
  --primary-color: #c9a96e;
  --second-color: #2c3e50;
  --text-color: #171717;
  --sub-text-color: #666666;
  --white-color: #fff;
  --black-color: #000;
  --super-sub-text-color: #666666;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.section-main {
  display: flex;
}

body {
  font-family: "PT Serif", serif;
  font-size: 1.6rem;
}

.header-wrapper {
  max-width: 1760px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 3.2rem;
  align-items: center;
  padding: 3.2rem 8rem;
}
.header__logo {
  font-weight: bold;
  font-size: 25px;
  line-height: 33px;
  letter-spacing: 2.5px;
}
.header__logo a {
  cursor: pointer;
  color: #171717;
  text-decoration: none;
}
.header button {
  display: none;
}
.header .navlink {
  display: flex;
  list-style: none;
}
.header .navlink__item a {
  display: inline-block;
  padding-left: 2.5rem;
  color: #171717;
  height: 3.2rem;
  line-height: 3.2rem;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.4s;
}
.header .navlink__item:first-child a {
  padding-left: 0;
}
.header .navlink__item a:hover {
  color: #c9a96e;
}

.section-banner {
  height: 70rem;
  position: relative;
  margin-bottom: 6rem;
}
.section-banner .main-banner {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.section-banner .text-box {
  position: absolute;
  top: calc(50% - 100px / 2);
  color: #fff;
  left: calc(100% / 2 - 1170px / 2);
}
.section-banner .text-box__label {
  display: inline-block;
  font-size: 14px;
  margin-top: 4px;
}
.section-banner .text-box__title {
  font-size: 4rem;
  line-height: 5rem;
  width: 56rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.section-banner .text-box__footer > a,
.section-banner .text-box__footer > span {
  font-size: 14px;
  margin-right: 10px;
}
.section-banner .text-box__footer > a span,
.section-banner .text-box__footer > span span {
  color: #999898;
}
.section-banner .text-box__footer a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
.section-banner .text-box__footer a:hover {
  color: #f4f4f4;
}

.blog-container {
  max-width: 70%;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.blog-wrapper {
  flex-basis: 50%;
  padding-left: 15px;
  padding-right: 15px;
}

.blog-wrapper--fluid {
  flex-basis: 100%;
}
.blog-wrapper--fluid .blog__label {
  margin-top: 18px;
  margin-left: 31px;
  text-align: left;
}
.blog-wrapper--fluid .blog__title {
  width: 614px;
  margin: 0;
  text-align: left;
  margin-left: 31px;
  margin-bottom: 10px;
}
.blog-wrapper--fluid .blog__footer {
  margin-left: 31px;
  text-align: left;
  padding-bottom: 13px;
}
.blog-wrapper--fluid .blog__desc {
  margin-left: 31px;
  max-width: 614px;
  color: #666666;
  font-size: 1.4rem;
  padding-bottom: 17px;
}

.blog {
  width: 100%;
  margin-bottom: 30px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
.blog__img {
  width: 100%;
  height: 280px;
  margin-bottom: 4px;
  overflow: hidden;
}
.blog__img img {
  width: 100%;
  height: 100%;
  transition: all 1s;
}
.blog__img:hover img {
  transform: scale(1.1);
}
.blog__label {
  text-align: center;
  color: #c9a96e;
  text-transform: uppercase;
  margin-bottom: 4px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 16px;
}
.blog__title {
  text-align: center;
  color: #171717;
  text-decoration: none;
  line-height: 28px;
  width: 285px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 400;
  font-size: 2rem;
  cursor: pointer;
  display: block;
  transition: all 0.4s;
}
.blog__title:hover {
  color: #c9a96e;
}
.blog__footer {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #666666;
  padding-bottom: 14px;
}
.blog__footer a {
  text-decoration: none;
  color: #666666;
  transition: all 0.4s;
}
.blog__footer a:hover {
  color: #c9a96e;
}
.blog__footer a > span {
  color: #b1b1b1;
}
.blog__footer > span:not(:last-child),
.blog__footer a {
  margin-right: 6px;
}

.pagination {
  list-style: none;
  margin: 0 auto;
  width: 509px;
  height: 50px;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.pagination__item a {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: #171717;
  font-size: 16px;
  line-height: 16px;
  padding: 14px;
  transition: all 0.5s;
  cursor: pointer;
}
.pagination__item a:hover {
  color: #c9a96e;
}
.pagination__item--disable a {
  color: #a2a2a2;
}
.pagination__item--disable a:hover {
  color: #a2a2a2;
}

.sidebar {
  width: 24%;
  margin-left: auto;
}
.sidebar__item:not(:last-child) {
  margin-bottom: 70px;
}
.sidebar__header {
  font-size: 16px;
  color: #171717;
  border: 1px solid #e5e5e5;
  height: 5rem;
  line-height: 5rem;
  text-align: center;
  margin-bottom: 20px;
}

.category .sidebar__header {
  margin-bottom: 0;
}

.category-list {
  list-style: none;
}
.category-list__item a {
  display: block;
  height: 50px;
  text-decoration: none;
  color: #666666;
  border-bottom: 1px solid #f5f5f5;
  line-height: 50px;
  transition: all 0.2s;
}
.category-list__item a:hover {
  color: #c9a96e;
}
.category-list__item:last-child a {
  border: none;
}

.socical-media-list__item {
  cursor: pointer;
  width: 88px;
  height: 88px;
  display: inline-block;
  color: #979797;
  background-color: #f8f9fa;
  text-align: center;
  padding-top: 17px;
  margin-bottom: 4px;
  transition: all 0.4s;
}
.socical-media-list__item i {
  color: #5a5a5a;
  font-size: 1.8rem;
}
.socical-media-list__item span {
  display: block;
  font-size: 1.2rem;
}
.socical-media-list__item:hover {
  background-color: #ebebeb;
}

.tags-list__item {
  text-decoration: none;
  display: inline-block;
  background-color: #f8f9fa;
  border: 1px solid #e5e5e5;
  color: #171717;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 15px;
  cursor: pointer;
}
.tags-list__item:hover {
  background-color: #eff0f1;
}

.section-ins {
  margin-top: 80px;
  margin-bottom: 100px;
}
.section-ins__title {
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #171717;
  margin-bottom: 40px;
}
.section-ins .image-list {
  display: flex;
}
.section-ins .image-list__item {
  flex-basis: calc(100% / 6);
  padding: 0px 10px;
}
.section-ins .image-list__item img {
  width: 100%;
}

.footer__title {
  font-weight: bold;
  font-size: 25px;
  line-height: 33px;
  letter-spacing: 2.5px;
  text-align: center;
  margin-bottom: 60px;
  color: #171717;
}
.footer__nav {
  display: flex;
  list-style: none;
  width: 353px;
  margin: 0 auto;
  margin-bottom: 30px;
  justify-content: space-around;
  cursor: pointer;
}
.footer__nav li a {
  color: #171717;
  text-decoration: none;
}
.footer__nav li a:hover {
  color: #c9a96e;
}
.footer-icons {
  text-align: center;
  margin-bottom: 40px;
}
.footer-icons button {
  outline: none;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  transition: all 0.4s;
}
.footer-icons button:not(:last-child) {
  margin-right: 20px;
}
.footer-icons button:hover {
  background-color: #c9a96e;
}
.footer-icons button:hover i {
  color: #fff;
}
.footer-icons button i {
  color: #666666;
  transition: all 0.4s;
}
.footer p {
  height: 80px;
  text-align: center;
  line-height: 80px;
  border-top: 1px solid #e5e5e5;
  font-size: 1.4rem;
  color: #666666;
}

/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
  .section-banner .text-box {
    left: calc(100% / 2 - 100% / 2.3);
  }

  .container {
    margin: 0 20px;
  }

  .blog-container {
    max-width: 70%;
    align-content: flex-start;
  }

  .sidebar {
    width: 30%;
  }
}
/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  .blog-container {
    max-width: 100%;
    align-content: center;
    margin: 0 auto;
  }

  .sidebar {
    display: none;
  }
}
/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  .blog-wrapper {
    flex-basis: 100%;
  }

  .section-banner .text-box {
    left: 20px;
  }
  .section-banner .text-box__label {
    font-size: 1rem;
  }
  .section-banner .text-box__title {
    font-size: 2rem;
    width: 35rem;
    line-height: 2.7rem;
    margin-bottom: 5px;
  }
  .section-banner .text-box__footer span,
.section-banner .text-box__footer a {
    font-size: 1.2rem;
  }

  .blog-wrapper {
    padding: 0;
  }

  .pagination__item a {
    font-size: 1.3rem;
  }

  .blog-wrapper--fluid {
    display: none;
  }

  .header-wrapper .navlink {
    display: none !important;
  }
  .header-wrapper .sticky .navlink {
    display: flex !important;
    flex-direction: column;
  }
  .header-wrapper button {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 1s;
  }
  .header-wrapper .header .navlink a {
    padding-left: 0;
  }
  .header-wrapper .header {
    padding: 0;
    padding: 0 20px;
    background-color: transparent;
    height: auto;
    z-index: 100;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    align-items: baseline;
  }
  .header-wrapper .header__logo {
    font-size: 1.5rem;
  }
}
/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  section {
    padding: 25px 0;
  }

  .contact-form {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
